* {
  box-sizing: border-box;
}
:root {
  --main-form-color: white;
  --secondary-form-color: rgb(249, 250, 251);
  --tertiary-form-color: rgb(117, 147, 185);
  --main-text-color: white;
  --form-text-color: black;
  --title-background: rgba(0, 0, 0, 0.4);
  font-family: "Josefin Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  background-color: lavender;
}
.valid{
  border: 2px solid green;
}
.error{
  border: 2px solid red;
}
#title-section {
  color: var(--main-text-color);
  background-image: url(images/g2dtw3qtkv821.jpg);
  min-width: 40%;
  height: 98vh;
  padding-top: 100px;
}
#title-section > h1 {
  background-color: var(--title-background);
  font-size: 70px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#title-section > h1 > img {
  max-width: 70px;
}
#main-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: fit-content;
}
#main-content > * {
  padding: 20px;
  font-weight: bold;
}
#desc-section {
  background-color: var(--secondary-form-color);
  padding-top: 130px;
}

#form-section {
  background-color: var(--main-form-color);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 100px 100px inset var(--tertiary-form-color);
}
#form-section > form {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}
#form-section > h2 {
  padding-left: 10px;
  color: var(--main-text-color);
}

form > label {
  max-width: fit-content;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  order: 0;
  flex: 1 1 35%;
  align-self: flex-start;
  text-transform: uppercase;
}
form > input {
  display: flex;
  flex-flow: column wrap;
  width: min-content;
  border: 2px solid #e5e7eb;
  margin-bottom: 10px;
  order: 0;
  flex: 1 1 35%;
  align-self: flex-start;
}
.input > input {
  border-radius: 4px;
}
.input {
  display: flex;
  flex-flow: column wrap;
  width: 40%;
  font-size: 0.7rem;
  text-transform: uppercase;
  opacity: 70%;
  padding: 5px;
}
.input:nth-child(even) {
  margin-left: 20px;
}

input:focus {
  outline: none;
  border: 2px solid blue;
  height: 2rem;
  box-shadow: 1px 2px 3px 4px var(--title-background);
}

#footer-section {
  background-color: var(--secondary-form-color);
  /* box-shadow: 10px 5px 20px 0px var(--tertiary-form-color); */
  flex-basis: 100%;
}
#footer-section > * {
  margin: 10px 0px 10px 10px;
}
#footer-section > button {
  background-color: var(--tertiary-form-color);
  color: var(--main-text-color);
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px rgb(0, 0, 0, 0.1);
  font-family: "Josefin Sans", sans-serif;
  padding: 10px 30px;
  cursor: pointer;
}

#footer-section > p > span > a {
  color: var(--tertiary-form-color);
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  body {
    flex-direction: column;
  }
  #title-section {
    max-height: 250px;
    padding-top: 0;
    background-position: center;
    background-size: cover;
  }

  #signup-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 250px;
    margin: 0 auto;
  }
  #desc-section {
    padding: 0 10px;
  }
  .input {
    justify-content: center;
    flex: 1 2 100%;
  }
  .input:nth-child(even) {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1500px) {
  #signup-form {
    max-width: 50%;
  }
}
